<%= render partial: "shared/navBar" %>
<div class="container">

  <h1>Trip:</h1>
  <div class="index-container">

    <div>
      <div id="weather"
      class="container"
      data-markers="<%= @markers.to_json %>"
      ></div>
      <div class="calendar" id="set-dates-for-trip">
        <% if @user == @trip.user%>
          <%= simple_form_for @trip do |f| %>
            <div class="form-row">
              <%= f.input :start_date, html5: true, wrapper_html: { class: "col" }, label: false %>
              <%= f.input :end_date, html5: true, wrapper_html: { class: "col" }, label: false %>
            </div>
            <%= f.submit "Confirm", class: "btn btn-outline-success btn-block"%>
          <% end %>
        <% elsif (@user != @trip.user && !JointUserTrip.where(trip: @trip).where(user: @user).empty?) %>
          <% current_user.joint_user_trips.where(status: 'pending').each do |jut| %>
            <%= simple_form_for [jut.trip, jut] do |f| %>
              <%= f.submit "Accept", class:"btn btn-outline-success" %>
              <%= f.submit "Refuse", class:"btn btn-outline-danger" %>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <div id="distance_site"
      data-site="<%= @site_loc.to_json %>"
      ></div>

      <% unless @trip.routes.first.nil? %>
      <div class="airbnb-image">
        <p class="m-0"><strong>Accomodation near your trip:</strong></p>
        <%= link_to image_tag("https://res.cloudinary.com/dts9y3u9o/image/upload/v1559324820/airbnb_horizontal_lockup_white_print_dpe4zi.jpg"), "https://www.airbnb.ca/s/all?query=#{@trip.routes.first.city.name}", target: :_blank %>
      </div>
      <% end %>


      <div class='map-card'
        id="map"
        style="width: 100%;
        height: 50vh;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>

    <div class="tab-content">
      <% count = 1 %>
      <% @routes.each_slice(5).to_a.each do |slice|%>
        <div id="page-<%= count %>" role="tabpanel"  class="tab-pane fade <%= 'show active' if count == 1 %>">
          <% slice.each do |route| %>
            <%= link_to route_path(route) do %>
              <div class="card-route-index">
                <%= image_tag route.photos.first.photo_url unless route.photos.first.nil? || route.photos.first.photo_url.nil? %>
                <div class="card-route-index-info">
                  <h2><%= route.name %></h2>
                  <p><%= route.city.name %></p>
                  <% rt = RouteTrip.all.select do |route_trips|
                    route_trips.route == route && route_trips.trip == @trip
                  end %>
                  <%= link_to "DELETE THIS ROUTE", route_trip_path(rt.first), method: :delete, class: "btn btn-danger" if @user == @trip.user%>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
        <% count += 1 %>
      <% end %>
      <%= link_to routes_path do %>
      <%  route = Route.all.sample(1).first %>
        <div class="card-route-index">
          <%= image_tag route.photos.first.photo_url unless route.photos.first.nil? || route.photos.first.photo_url.nil?%>
          <div class="card-route-index-info">
            <h2> Add a new route ! </h2>
          </div>
        </div>
      <% end %>
      <br>
        <% if @user == @trip.user %>
          <%= link_to "/profile/#{current_user.id}?profile=true", class: "btn btn-success" do %><i class=“fa fa-sign-out”></i>Save
        <% end %>
      <% end %>

      <h2>Images</h2>

      <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
          <% @routes.each_with_index do |route, index| %>
            <div class="carousel-item <%= "active" if index.zero? %>" style="background-image: url('<%= route.photos.first.photo_url %>');">
            </div>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

  </div>
</div>

<div class="container">
  <% @trip.joint_user_trips.each do |jut| %>
    <div class="card">
      <%= jut.status %>
      <%=  jut.user.username %>
    </div>
  <% end %>
</div>

