<%= render partial: "shared/navBar" %>
<div class="container min-height-container">

  <div class="index-container-grid">

    <div>

      <div class="card-trip-container">

      <h3>Your Next Trip</h3>
      <% if @trip.any_routes? %>
        <h2><%= @trip.routes.first.city.name.delete("*") %>, <%= @trip.routes.first.city.state_province.name.delete("*") %></h2>
      <% end %>
      <p id="dates-trip-info"><i class="fas fa-edit" data-toggle="modal" data-target="#exampleModal"></i> <%= @trip.start_date.strftime("%B %e") %> to <%= @trip.end_date.strftime("%B %e") %></p>



        <div id="trip-info">

          <div id="weather"
          data-markers="<%= @markers.to_json %>"
          ></div>
          <% unless @trip.routes.first.nil? %>
            <div class="dates">

            </div>
            <div id="distance_site" data-site="<%= @site_loc.to_json %>">
            </div>
          <% end %>
        </div>
        <div class="calendar" id="set-dates-for-trip">
          <% if @user == @trip.user%>
          <%= render 'shared/trip-modal-calendar' %>
          <% elsif (@user != @trip.user && !JointUserTrip.where(trip: @trip).where(user: @user).empty?) %>
            <% current_user.joint_user_trips.where(status: 'pending').each do |jut| %>
              <%= simple_form_for [jut.trip, jut] do |f| %>
                <%= f.submit "Accept", class:"btn btn-outline-success" %>
                <%= f.submit "Refuse", class:"btn btn-outline-danger" %>
              <% end %>
            <% end %>
          <% end %>
        </div>

        <div class="container" id="trip-friends">
          <h6>Who's coming ?</h6>

          <div class="trip-friends-card">
            <div class="trip-friend">
              <%= cl_image_tag @trip.user.avatar_photo, class: "avatar" %>
              <div class="trip-friend-info">
                  <p class="friend-name"><%= @trip.user.username %></p>
                  <p class="invite-status"> organizer </p>
                </div>
            </div>
            <% @trip.joint_user_trips.each do |jut| %>
              <% if jut.status == "accepted" %>
              <div class="trip-friend">
                <%= link_to profile_path(jut.user) do  %>
                  <%= cl_image_tag jut.user.avatar_photo, class: "avatar" %>
                <% end %>
                <div class="trip-friend-info">
                  <p class="friend-name"><%= jut.user.username %></p>
                  <p class="invite-status"><%= jut.status %></p>
                </div>
              </div>
              <% end %>
            <% end %>
          </div>

        </div>

        <% if @trip.any_routes? %>
          <%= link_to "https://www.airbnb.ca/s/all?query=#{@trip.routes.first.city.name}",class: "airbnb-image", target: :_blank  do%>
            <i class="fas fa-campground"></i>
          <% end %>
        <% end %>

      </div>
      <!-- end of .card-trip-container -->







      <div class='map-card'
        id="map"
        style="width: 100%;
        height: 50vh;"
        data-markers="<%= @markers.to_json %>"
        data-markers_trip="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>

    <div class="tab-content">
      <% count = 1 %>
      <% @routes.each_slice(5).to_a.each do |slice|%>
        <div id="page-<%= count %>" role="tabpanel"  class="tab-pane fade <%= 'show active' if count == 1 %>">
          <% slice.each do |route| %>
            <%= link_to route_path(route) do %>
              <div class="card-route-index">
                <%= image_tag route.photos.first.photo_url unless route.photos.first.nil? || route.photos.first.photo_url.nil? %>
                <div class="card-route-index-info">
                  <h2><%= route.name %></h2>
                  <p>Site :   <%= route.city.name.delete("*") %></p>
                  <p>Level :    <%= route.level %></p>
                  <% rt = RouteTrip.all.select do |route_trips|
                    route_trips.route == route && route_trips.trip == @trip
                  end %>
                  <%= link_to "<i class='fas fa-trash-alt'></i>".html_safe, route_trip_path(rt.first), method: :delete, data: { confirm: "Do you want to delete this review?"} %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
        <% count += 1 %>
      <% end %>
      <%= link_to routes_path do %>
      <%  route = Route.all.sample(1).first %>
        <div class="card-route-index">
          <%= image_tag route.photos.first.photo_url unless route.photos.first.nil? || route.photos.first.photo_url.nil?%>
          <div class="card-route-index-info">
            <h2> Add a new route ! </h2>
          </div>
        </div>
      <% end %>
      <br>
        <% if @user == @trip.user %>
          <button class="button-green" id="validate-trip">Save</button>
          <%= link_to trip_path(@trip, { trip: { state: "done" }}), method: :patch, class: "hidden", id: "save-link" do %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


