<div class="container">
  <div class="full-height-profile">
    <div class="form-card2" id="profile-avatar">
      <h2>Profile</h2>
      <%= image_tag @user.avatar_photo, width: 100, height: 100, crop: :fill, radius: "max", id: "profile-settings-avatar"%>
      <%= simple_form_for @user, method: :patch, html: {style: "width: 100%"} do |f| %>
        <div class="form-inputs">
          <p><strong>Username:  </strong><%= f.input :username, placeholder: 'Change your username', id: "profile-input", label: false %></p>
          <p><strong>Email:  </strong><%= f.input :email, placeholder: "Change your email", id: "profile-input", label: false %></p>
          <p><strong>Password:  </strong><%= f.input :password, placeholder: "Change your password", id: "profile-input", label: false %></p>
          <p><strong>Photo:  </strong><%= f.input :avatar_photo, placeholder: "Change your avatar", id: "profile-input", label: false %></p>
          <p><strong>Location: </strong><%= f.input :location, placeholder: "Change your location", id: "profile-input", label: false %></p>
          <p><strong>Bio</strong><%= f.input :bio, placeholder: "Change your bio", id: "profile-input", label: false %></p>
          <p><strong>Favourite Styles:  </strong><%= f.input :favorite_styles, placeholder: "Change your favourite styles", id: "profile-input", label: false %></p>
          <p><strong>Current Level:   </strong><%= f.input :current_level, placeholder: "Change your level", id: "profile-input", label: false %></p>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Save", class: "btn btn-outline-success btn-block" %>
        </div>
      <% end %>
      <br>
    </div>
  </div>
</div>
