<div class="full-height page-profile" id="profile-page">
  <div class="profile-card" id="profile-avatar">
    <h2>Profile</h2>
    <%= image_tag @user.avatar_photo, width: 100, height: 100, crop: :fill, radius: "max", id: "profile-settings-avatar"%>
    <div class="user-info">
      <p><strong>Name:  </strong><%= @user.username %></p>
      <p><strong>Bio:  </strong>"<%= @user.bio %>"</p>
      <p><strong>Location:   </strong><%= @user.location %></p>
      <p><strong>Level:   </strong><%= @user.current_level %></p>
      <p><strong>Favourite Styles:   </strong>"<%= @user.favorite_styles %>"</p>
      <!-- <p><strong>Following:    </strong></p> -->
      <!-- <p><strong>Followed By:    </strong></p> -->
      <% if (@user.id != current_user.id && !@user.followed_by.include?(current_user.id))%>
        <%= link_to "Follow", add_follower_path(@user), class: "btn btn-outline-success" %>
      <% elsif (@user.id != current_user.id && @user.followed_by.include?(current_user.id)) %>
        <%= link_to "Unfollow", delete_follower_path(@user), class: "btn btn-outline-warning" %>
      <% end %>

    <% user_next_trips = current_user.trips.where(state: "next") %>

    <% unless user_next_trips.length == 0 %>
      <% if @user.id != current_user.id %>
        <%= link_to "Invite to next trip", "/trips/#{user_next_trips.first.id}/joint_user_trips?user_id=#{@user.id}", method: :post, class: "btn btn-success" %>
      <% end %>
    <% end %>

      <div class="followers">
      <h6>Following:</h3>
        <% if @user.following.present? %>
            <% @user.following.each do |follower_id| %>
              <a href="<%= profile_path(follower_id) %>"><%= image_tag User.find(follower_id).avatar_photo, width: 50, height: 50 %></a>
            <% end %>
        <% end %>
      </div>

      <div class="followers">
        <h6>Followers:</h3>
        <% if @user.followed_by.present? %>
            <% @user.followed_by.each do |user_id| %>
              <a href="<%= profile_path(user_id) %>"><%= image_tag User.find(user_id).avatar_photo, width: 50, height: 50 %></a>
            <% end %>
        <% end %>
      </div>

    </div>
  </div>
  <div class="d-flex profile route-setter-page">

    <div id="sport-cards-index">


      <% if current_user.id == @user.id %>
        <% current_user.joint_user_trips.where(status: 'pending').each do |jut| %>
          <h4>You've been invited to</h4>
          <div style="position:relative;">

            <%= link_to trip_path(jut.trip) do %>
              <div class="card-route trip" id="card-route-setter-page">
                <%= @site_loc %>
                <%= image_tag jut.trip.routes.first.photos.first.photo_url unless jut.trip.routes.first.nil? %>
                <div class="card-route-info">
                  <div>
                    <h4><%= jut.trip.user.username %> has invited you!</h4>

                    <%= simple_form_for [jut.trip, jut] do |f| %>
                      <%= f.submit "Accept", class:"btn btn-outline-success" %>
                      <%= f.submit "Refuse", class:"btn btn-outline-danger" %>
                    <% end %>
                    <h2><%= jut.trip.start_date.strftime("%B %e, %Y") %> - <%= jut.trip.end_date.strftime("%B %e, %Y") %></h2>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>

      <% @next_trip.each do |trip|%>
          <h4>Next Trips</h4>
          <%= link_to trip_path(trip) do %>
            <div class="card-route trip next-trip">
              <%= image_tag trip.routes.first.photos.first.photo_url unless trip.routes.first.nil? %>
              <div class="card-route-info">
                <div class="route-info">
                <h6> <%= trip.routes.first.site.city.name.delete("*") unless trip.routes.first.nil?%>, <%= trip.routes.first.site.city.state_province.name.delete("*") unless trip.routes.first.nil? %> </h6>
                  <p><%= trip.start_date.strftime("%B %e") %> - <%= trip.end_date.strftime("%B %e") %>
                  </p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
        <h4>Past Trips</h4>
        <% @old_trips.each do |trip|%>
        <%= link_to trip_path(trip) do %>
          <div class="card-route trip">
            <%= image_tag trip.routes.first.photos.first.photo_url unless trip.routes.first.nil? %>
            <div class="card-route-info">
              <div class="route-info">
                <h6> <%= trip.routes.first.city.name.delete("*") %>, <%= trip.routes.first.city.state_province.name.delete("*") %>
                </h6>
                <p><%= trip.start_date.strftime("%B %e") %> - <%= trip.end_date.strftime("%B %e") %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
   </div>
 </div>
</div>





