<div class="page-profile" id="profile-page">

  <div class="profile-header <%= current_user == @user ? 'my-profile' : 'other-profile' %>">

    <div class="profile-card" id="profile-avatar">
      <h2>Hi, <%= @user.username %> </h2>
      <%= image_tag @user.avatar_photo, width: 100, height: 100, crop: :fill, radius: "max", id: "profile-settings-avatar"%>
      <div class="user-info">
        <p><strong>Name:  </strong><%= @user.username %></p>
        <p><strong>Bio:  </strong>"<%= @user.bio %>"</p>
        <p><strong>Location:   </strong><%= @user.location %></p>
        <p><strong>Level:   </strong><%= @user.current_level %></p>
        <p><strong>Favourite Styles:   </strong>"<%= @user.favorite_styles %>"</p>
        <!-- <p><strong>Following:    </strong></p> -->
        <!-- <p><strong>Followed By:    </strong></p> -->
        <% if (@user.id != current_user.id && !@user.followed_by.include?(current_user.id))%>
          <%= link_to "Follow", add_follower_path(@user), class: "btn btn-outline-success" %>
        <% elsif (@user.id != current_user.id && @user.followed_by.include?(current_user.id)) %>
          <%= link_to "Unfollow", delete_follower_path(@user), class: "btn btn-outline-warning" %>
        <% end %>

        <% user_next_trips = current_user.trips.where(state: "next") %>

        <% unless user_next_trips.length == 0 %>
          <% if @user.id != current_user.id %>
            <%= link_to "Invite to next trip", "/trips/#{user_next_trips.first.id}/joint_user_trips?user_id=#{@user.id}", method: :post, class: "btn btn-success" %>
          <% end %>
        <% end %>

        <div class="followers">
          <h6>Following:</h3>
          <% if @user.following.present? %>
              <% @user.following.each do |follower_id| %>
                <a href="<%= profile_path(follower_id) %>"><%= image_tag User.find(follower_id).avatar_photo, width: 50, height: 50 %></a>
              <% end %>
          <% end %>
        </div>
        <!-- end of followers -->

        <div class="followers">
          <h6>Followers:</h3>
          <% if @user.followed_by.present? %>
              <% @user.followed_by.each do |user_id| %>
                <a href="<%= profile_path(user_id) %>"><%= image_tag User.find(user_id).avatar_photo, width: 50, height: 50 %></a>
              <% end %>
          <% end %>
        </div>
        <!-- end of followers -->

      </div>
    </div>
    <!-- end of profile-card -->

    <!-- check if it´s the current user profile to hide trips from others -->
    <% if current_user == @user %>



      <!-- OK -->
      <div class="next-trips">

        <!-- OK -->
        <div class="profile-invites-trips ">
          <% current_user.joint_user_trips.where(status: 'pending').each do |jut| %>
            <h4 class="subtitle">You've been invited to</h4>

            <!-- <div class="test"> -->

              <%= link_to trip_path(jut.trip) do %>
                <div class="invite-trip-card">
                  <%= image_tag jut.trip.routes.first.photos.first.photo_url unless jut.trip.routes.first.nil? %>

                  <div class="invite-trip-info">
                    <%= @site_loc %>
                    <h4 class="subtitle"><%= jut.trip.user.username %> has invited you!</h4>

                    <p><%= jut.trip.start_date.strftime("%B %e, %Y") %> - <%= jut.trip.end_date.strftime("%B %e, %Y") %></p>
                    <%= simple_form_for [jut.trip, jut] do |f| %>
                      <%= f.submit "Accept", class:"btn btn-outline-success" %>
                      <%= f.submit "Refuse", class:"btn btn-outline-danger" %>
                    <% end %>
                  </div>
                  <!-- end of .invite-trip-info -->

                </div>
                <!-- end of .invite-trip-card -->

              <% end %>
              <!-- end of link_to -->

            <!-- </div> -->
            <!-- end of .test -->

          <% end %>
          <!-- end of iteration over invitations for trips -->
        </div>
        <!-- end of .profile-invites-trips -->



        <h4 class="subtitle">Next Trips</h4>



        <!-- OK  -->
        <% @next_trip.each do |trip|%>
          <div class="next-trip-card">
            <%= link_to trip_path(trip) do %>
              <!-- <div class="card-route trip next-trip"> -->
              <div class="next-trip">
                <%= image_tag trip.routes.first.photos.first.photo_url unless trip.routes.first.nil? || trip.routes.first.photos.first.photo_url.nil? %>
                <div class="card-route-info">
                  <h6> <%= trip.routes.first.site.city.name.delete("*") unless trip.routes.first.nil?%>, <%= trip.routes.first.site.city.state_province.name.delete("*") unless trip.routes.first.nil? %> </h6>
                    <p><%= trip.start_date.strftime("%B %e") %> - <%= trip.end_date.strftime("%B %e") %>
                    </p>
                </div>

              </div>
              <!-- end of .next-trip -->
            <% end %>
            <!-- end of link_to -->
          </div>
          <!-- end of .next-trip-card -->
        <% end %>
        <!-- end of next_trip.each -->


      </div>
      <!-- end of .next-trips -->



     <% end %>
     <!-- end of if statement to check if it's the current user logged in -->

  </div>
  <!-- end of .profile-header -->

  <!-- check if it´s the current user profile to hide trips from others -->
  <% if current_user == @user %>

    <div class="past-trips-container">

      <h4 class="subtitle">Your past trips</h4>

      <div id="past-trip-cards-index">

        <% @old_trips.each do |trip|%>
          <div class="past-trip-card">

            <%= link_to trip_path(trip) do %>
              <div class="card-route trip">
                <%= image_tag trip.routes.first.photos.first.photo_url unless trip.routes.first.nil? || trip.routes.first.photos.first.photo_url.nil? %>
                <div class="card-route-info">
                  <div class="route-info">
                    <h6> <%= trip.routes.first.city.name.delete("*") unless trip.routes.first.nil?%>, <%= trip.routes.first.city.state_province.name.delete("*") unless trip.routes.first.nil? %>
                    </h6>
                    <p><%= trip.start_date.strftime("%B %e") %> - <%= trip.end_date.strftime("%B %e") %>
                    </p>
                  </div>
                </div>
                <!-- end of card-route-info -->
              </div>
            <% end %>

          </div>
          <!-- end of .past-trip-card -->
        <% end %>
        <!-- end of iteration on the past trips -->

       </div>
       <!-- end of #past-trip-cards-index -->

    </div>
    <!-- end of .past-trips-container -->

  <% end %>
  <!-- end of if statement to check if it's the current user logged in -->

</div>
<!-- end of #profile-page -->
