<div class="full-height page-profile" id="profile-page">
  <div class="form-card" id="profile-avatar">
    <h2>Profile</h2>
    <%= image_tag @user.avatar_photo, width: 100, height: 100, crop: :fill, radius: "max", id: "profile-settings-avatar"%>
    <div class="user-info">
      <p><strong>Name:  </strong><%= @user.username %></p>
      <p><strong>Bio:  </strong>"<%= @user.bio %>"</p>
      <p><strong>Location:   </strong><%= @user.location %></p>
      <p><strong>Level:   </strong><%= @user.current_level %></p>
      <p><strong>Favourite Styles:   </strong>"<%= @user.favorite_styles %>"</p>
      <!-- <p><strong>Following:    </strong></p> -->
      <!-- <p><strong>Followed By:    </strong></p> -->
      <% if (@user.id != current_user.id && !@user.followed_by.include?(current_user.id))%>
        <%= link_to "Follow", add_follower_path(@user), class: "btn btn-primary" %>
      <% elsif (@user.id != current_user.id && @user.followed_by.include?(current_user.id)) %>
        <%= link_to "Unfollow", delete_follower_path(@user), class: "btn btn-primary" %>
      <% end %>

      <h3>Following:</h1>
      <% if @user.following.present? %>
          <% @user.following.each do |follower_id| %>
            <a href="<%= profile_path(follower_id) %>"><%= image_tag User.find(follower_id).avatar_photo, width: 50, height: 50 %></a>

          <% end %>
      <% end %>

      <h3>Followers:</h1>
      <% if @user.followed_by.present? %>
          <% @user.followed_by.each do |user_id| %>
            <a href="<%= profile_path(user_id) %>"><%= image_tag User.find(user_id).avatar_photo, width: 50, height: 50 %></a>
          <% end %>
      <% end %>


    </div>
  </div>
</div>

