<div class="container">
  <div class="full-height-profile">
    <div class="form-card" id="profile-avatar">
      <h2>Profile</h2>
      <%= image_tag @user.avatar_photo, width: 100, height: 100, crop: :fill, radius: "max", id: "profile-settings-avatar"%>
      <div class="user-info">
        <p><strong>Bio:  </strong>"<%= @user.bio %>"</p>
        <p><strong>Location:   </strong><%= @user.location %></p>
        <p><strong>Level:   </strong><%= @user.current_level %></p>
        <p><strong>Favourite Styles:   </strong>"<%= @user.favorite_styles %>"</p>
        <p><strong>Following:    </strong></p>
        <p><strong>Followed By:    </strong></p>
      </div>

    </div>
  </div>
</div>

