<div class="d-flex profile route-setter-page">
  <div class="form-card-route-setter" id="profile-routes-set">
    <h2>Profile</h2>
    <%= image_tag @user.avatar_photo, width: 100, height: 100, crop: :fill, radius: "max", id: "profile-settings-avatar"%>
    <div class="user-info">
      <span class="d-flex add-route">
        <h3>Hi <%= @user.username %>!</h3>
        <%= link_to "Add a new route", new_route_path(current_user), class: "button-green" %>
      </span>
      <p><strong>Routes Set:   </strong><%= @user.routes.count %></p>

      <p><strong>Attention needed: </strong></p>
      <% @user.received_reviews.each do |review| %>
        <% unless review.fixed || review.alert == 'Nothing to report' %>
          <div class="card text-white bg-warning p-4 my-3 fade show" role="alert" data-review-id="<%= review.id %>" >
            User <%= review.user.username %> has reported <strong><%= review.alert %></strong> on route <%= link_to review.route.name, route_path(review.route)%>!
            <%= link_to fix_alert_path(review), class: "close", method: :patch, remote: true do %>
              <span aria-hidden="true">Mark as done</span>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <%= link_to "Add a new route", new_route_path(current_user), class: "btn btn-success" %>

      <p><strong>Attention needed: </strong>@routes.condition</p>

    </div>

  </div>
    <div class="cards-route" id="sport-cards-index">
      <h2>Your Routes</h2>
      <% @routes.each do |route|%>
        <%= link_to route_path(route) do %>
          <div class="card-route" id="card-route-setter-page">
            <%= image_tag route.photos.first.photo_url unless route.photos.first.nil? || route.photos.first.photo_url.nil?%>
            <div class="card-route-info">
              <div>
                <h2><%= route.name %></h2>
                <div class="avatar_photo_card">
                  <%= cl_image_tag route.user.avatar_photo, width: 20, height: 20, crop: :fill, radius: "max" %>
                  <p><%= route.user.username %></p>
                </div>
              </div>
              <%= link_to "Edit", edit_route_path(route) ,class: "btn btn-danger" %>
              <%= link_to "Delete", route_path(route.id) , method: "delete" ,class: "btn btn-danger" %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
