<div class="d-flex profile route-setter-page">
  <div class="cards-route" id="sport-cards-index">


    <h2>Your Trips</h2>
    <% @trips.each do |trip|%>
      <% if trip.start_date > Time.now %>
        <h4>Your Next Trip :</h4>
        <% route = trip.routes.first %>
        <%= link_to trip_path(trip) do %>

          <div class="card-route" id="card-route-setter-page">
            <%= image_tag trip.routes.first.photos.first.photo_url unless trip.routes.first.nil? %>
            <div class="card-route-info">
              <div>
                <h2>Start date :<%= trip.start_date %> -- End date: <%= trip.end_date %></h2>
            </div>
          </div>
          </div>

        <% end %>
      <% else %>
        <h4>Your Past Trips :</h4>
        <% route = trip.routes.first %>
        <%= link_to trip_path(trip) do %>
          <div class="card-route" id="card-route-setter-page">
            <%= image_tag trip.routes.first.photos.first.photo_url unless trip.routes.first.nil? %>
            <div class="card-route-info">
              <div>
                <h2>Start date :<%= trip.start_date %> -- End date: <%= trip.end_date %></h2>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
