<%= render partial: "shared/navBar" %>

<div class="subNavbar">
  <div class="subNavbar-links">
    <ul class="nav subNavbar-links" id="myTab" role="tablist">
      <li>
        <a class="subNavbarLink active" id="profile-tab" data-toggle="tab" href="#home1" role="tab" aria-controls="profile" aria-selected="true">Profile</a>
      </li>
      <li>
        <a class="subNavbarLink" id="settings-tab" data-toggle="tab" href="#home2" role="tab" aria-controls="settings" aria-selected="false">Settings</a>
      </li>
      <li>
        <a class="subNavbarLink" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="home2" aria-selected="false">Route Setter</a>
      </li>
    </ul>
  </div>
</div>


<div class="container">
  <div class="full-height-profile">
    <div class="tab-content" id="myTabContent">


      <div class="tab-pane fade show active" id="home1" role="tabpanel" aria-labelledby="home1-tab">
        <%= render partial: "shared/profile-page-route-cards", object: @routes %>
        <p>Hello</p>
      </div>


      <div class="tab-pane fade show" id="home2" role="tabpanel" aria-labelledby="home2-tab">

    </div>
  </div>
</div>

      </div>

      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <p>Hello 3</p>
        <%# render partial: "shared/profile-page-cards", object: @route%>
      </div>
    </div>
  </div>
</div>

<% if @user.id != current_user.id %>
  <%= link_to "Follow", add_follower_path(@user) %>
<% end %>

<h3>Following:</h1>
<% if @user.following.present? %>
  <ul>
    <% @user.following.each do |follower_id| %>
      <li> <%= User.find(follower_id).username %></li>
    <% end %>
  </ul>
<% end %>

<h3>Followers:</h1>
<% if @user.followed_by.present? %>
  <ul>
    <% @user.followed_by.each do |user_id| %>
      <li> <%= User.find(user_id).username %></li>
    <% end %>
  </ul>
<% end %>


