<% @list_routes.each do |route|%>
  <%= link_to route_path(route) do %>
    <div class="card-route-index">
      <%= image_tag route.photos.first.photo %>
      <div class="card-route-index-info">
        <h2><%= route.name %></h2>
        <p><%= route.city.name %></p>
      </div>
    </div>
  <% end %>
<% end %>

<% if @current_page == 0 && @list_routes.count < 5%>
  <a data-remote="true" href="<%= @current_page_link %>"><%= @current_page %></a>
<% elsif @current_page == 0 %>
  <a data-remote="true" href="<%= @current_page_link %>"><%= @current_page %></a>
  <a data-remote="true" href="<%= @next_page %>"><%= @current_page + 1 %></a>
  <a data-remote="true" href="<%= @next_page %>"> > </a>
<% elsif @list_routes.count < 5  %>
  <a data-remote="true" href="<%= @previous_page  %>"> < </a>
<% else %>
  <a data-remote="true" href="<%= @previous_page  %>"> < </a>
  <% unless @the_end %>
    <a data-remote="true" href="<%= @previous_page  %>"><%= @current_page - 1 %></a>
    <a data-remote="true" href="<%= @current_page_link %>"><%= @current_page %></a>
    <a data-remote="true" href="<%= @next_page %>"><%= @current_page + 1 %></a>
    <a data-remote="true" href="<%= @next_page %>"> > </a>
  <% end %>
<% end %>
