<div class="container">
  <div class="index-container">
    <div>
      <h1>Sugestions</h1>
      <% @routes.each do |route|%>
        <%= link_to route_path(route) do %>
          <div class="card-route-index">
            <%= image_tag route.photos.first.photo %>
            <div class="card-route-index-info">
              <h2><%= route.name %></h2>
              <p><%= route.city.name %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div>
      <p>Put here the map</p>
    </div>
  </div>
</div>










#mapbox
<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>

google map -- too complicated ..!
<p>
<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=17&size=400x300&key=AIzaSyBm1b0gavzzFN7Ijfi5XOtvPBPg3dKUCuo", alt: "Map" %>
</p>

<!-- center=#{100},#{100}& -->

<!-- #google map
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBm1b0gavzzFN7Ijfi5XOtvPBPg3dKUCuo&callback=initMap"
  type="text/javascript"></script>
 -->
