<%= render partial: "shared/navBar" %>
<div class="container">
  <h1>Suggestions</h1>
  <div class="index-container">
    <div>
      <% @list_routes.each do |route|%>
        <%= link_to route_path(route) do %>
          <div class="card-route-index">
            <%= image_tag route.photos.first.photo %>
            <div class="card-route-index-info">
              <h2><%= route.name %></h2>
              <p><%= route.city.name %></p>
            </div>
          </div>
        <% end %>
      <% end %>
      <br>
      <div>
        <!-- logic to display the pages tab -->
        <% if @current_page == 1 && @list_routes.count < 5%>
          <a href="#"><%= @current_page %></a>
        <% elsif @current_page == 1 %>
          <a href="#"><%= @current_page %></a>
          <a href="<%= @next_page %>"><%= @current_page + 1 %></a>
          <a href="<%= @next_page %>"> > </a>
        <% elsif @list_routes.count % 5 == 0 %>
          <a href="<%= @previous_page  %>"> < </a>
          <a href="<%= @previous_page  %>"><%= @current_page - 1 %></a>
          <a href="#"><%= @current_page %></a>
        <% else %>
          <a href="<%= @previous_page  %>"> < </a>
          <a href="<%= @previous_page  %>"><%= @current_page - 1 %></a>
          <a href="#"><%= @current_page %></a>
          <a href="<%= @next_page %>"><%= @current_page + 1 %></a>
          <a href="<%= @next_page %>"> > </a>
        <% end %>
      </div>
    </div>

    <div>
      <div class='map-card'
        id="map"
        style="width: 100%;
        height: 100vh;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>
  </div>
</div>
<%= render "shared/footer" %>
