<div class="container">
  <h1>Sugestions</h1>
  <div class="index-container">
    <div>
      <% @routes.each do |route|%>
        <%= link_to route_path(route) do %>
          <div class="card-route-index">
            <%= image_tag route.photos.first.photo %>
            <div class="card-route-index-info">
              <h2><%= route.name %></h2>
              <p><%= route.city.name %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div>
      <div class='map-card'
        id="map"
        style="width: 100%;
        height: 100vh;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>
  </div>
</div>




