<%= render partial: "shared/navBar" %>
<div class="container">
  <br>
  <div class="card-route-show">

    <%= image_tag @route.photos.first.photo %>

    <div class="route-info">

      <h1><%= @route.name %></h1>
      <h3><%= @route.city.name %></h3>

      <div class="container">
        <div class="subNavbar">
          <div class="subNavbar-links subnavbar-show">
            <ul class="nav subNavbar-links subnavbar-show" id="myTab" role="tablist">
              <li>
                <a class="subNavbarLink active" data-toggle="tab" href="#description" role="tab">Description</a>
              </li>
              <li>
                <a class="subNavbarLink" data-toggle="tab" href="#technical-details" role="tab">Technical Details</a>
              </li>
              <li>
                <a class="subNavbarLink" data-toggle="tab" href="#reviews" role="tab">Reviews</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="full-height-profile">
          <div class="tab-content" id="myTabContent">
            <div id="description" class="tab-pane fade show active" role="tabpanel">
              <p><%= @route.description %></p>
            </div>
            <div id="technical-details" class="tab-pane fade show" role="tabpanel">
              <p>LEVEL: <%= @route.level %></p>
              <p>STYLE: <%= @route.style %></p>
              <p>TYPE: <%= @route.type_of %></p>
            </div>
            <div id="reviews" class="tab-pane fade show" role="tabpanel">
              <% if @route.reviews.blank? %>
                  Be the first to leave a review for <%= @route.name %>
              <% else %>
                <% @route.reviews.each do |review| %>
                  <%= render 'reviews/show', review: review %>
                <% end %>
              <% end %>
              <%= render 'reviews/form', route: @route, review: @review %>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
  <%= link_to "ADD TO YOUR NEXT TRIP", trip_update_path, class: "btn btn-success" %>
  <br>

  <div class="map-card"
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>

  <div id="weather"
    class="container"
    data-markers="<%= @markers.to_json %>"
  ></div>

</div>




