<%= render partial: "shared/navBar" %>
<div class="container" id="show-container">
  <br>
  <div class="card-route-show">
    <div class="image-show">
      <%= image_tag @route.photos.first.photo_url unless @route.photos.first.nil? || @route.photos.first.photo_url.nil? %>
      <%= link_to "ADD TO YOUR NEXT TRIP", route_route_trips_path(@route), method: :post, class: "button-green" %>
    </div>
    <div class="route-info-show-container">
      <h1><%= @route.name %></h1>
      <h3><%= @route.city.state_province.name unless @route.site_id.nil? %></h3>
      <div class="container">
        <div class="subNavbar">
          <div class="subNavbar-links subnavbar-show">
            <ul class="nav subNavbar-links subnavbar-show" id="myTab" role="tablist">
              <li>
                <a class="subNavbarLink active" data-toggle="tab" href="#description" role="tab">Description</a>
              </li>
              <li>
                <a class="subNavbarLink" data-toggle="tab" href="#technical-details" role="tab">Technical Details</a>
              </li>
              <li>
                <a class="subNavbarLink" data-toggle="tab" href="#reviews" role="tab">Reviews</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="full-height-profile">
          <div class="tab-content" id="myTabContent">
            <div id="description" class="tab-pane fade show active" role="tabpanel">
              <h5>Description</h5>
              <p><%= @route.description %></p>
            </div>
            <div id="technical-details" class="tab-pane fade show" role="tabpanel">
              <p>LEVEL: <%= @route.level %></p>
              <p>STYLE: <%= @route.style %></p>
              <p>TYPE: <%= @route.type_of %></p>
              <p>SET BY: <a href="<%= profile_path(@route.user) %>"><%= image_tag @route.user.avatar_photo, id: "avatar-photo-show-route" %> <%= @route.user.username %></a></p>
              <div id="distance"></div>
              <p>CITY: <%= @route.city.name unless @route.site_id.nil? %></p>
              <p>RATING: <%= (@route.rating / 100.0) + 4 unless @route.rating.nil? %></p>
              <p> Advices from GoClimb : </p>
              <p> <%= @relative_statut %></p>
            </div>
            <div id="reviews" class="tab-pane fade show" role="tabpanel">
              <% @route.reviews.each do |review| %>
                <%= render 'reviews/show', review: review %>
              <% end %>
              <%= render 'reviews/form', route: @route, review: @review %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="map-card-show"
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>

